body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
.content {
  margin: 0 auto;
  padding: 150px;
  width: 600px;
  text-align: left;
}
h2,
h3 {
  margin: 10px 0 5px 0;
}
p,
a,
li {
  margin: 5px 0;
}
ul,
ol {
  padding-left: 20px;
  margin: 0 0 10px 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #c0c0c0;
}
code {
  display: block;
  padding: 5px;
  margin: 5px 0;
  border-left: 3px solid #333;
  color: #dcdcdc;
}
hr {
  margin-top: 10px;
  opacity: 20%;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode code {
  background-color: #1e1e1e;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.light-mode code {
  background-color: #f5f5f5;
  color: #333333;
  border-left-color: #cccccc;
}

@media (max-width: 600px) {
  .content {
    width: 100%;
    padding: 10px;
  }
}
