html {
    background-color: #121212;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.content {
    margin: 0 auto;
    padding: 150px;
    width: 600px;
    text-align: left;
}

h2,
h3 {
    margin: 10px 0 5px;
}

p,
a,
li {
    margin: 5px 0;
}

ul,
ol {
    padding-left: 20px;
    margin: 0 0 10px;
}

a {
    color: #f0f0f0;
    text-decoration: underline;
}

a:hover {
    color: #c0c0c0;
    transition: color 0.3s;
}

code {
    display: block;
    padding: 5px;
    margin: 5px 0;
    border-left: 3px solid #333;
    color: #dcdcdc;
}

hr {
    margin-top: 10px;
    opacity: 0.2;
}

.discord-link {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.discord-link img {
    width: 20px;
    height: auto;
}

.sidebar-nav {
    position: relative;
}

.hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -220px;
    width: 250px;
    height: 100%;
    transition: left 0.3s;
    padding: 20px;
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

.sidebar h2 {
    font-size: 18px;
    margin-top: 300px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 16px;
}

.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

.fade-in {
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .content {
        padding: 10px;
        width: 100%;
    }

    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar.active {
        left: 0;
    }

    .hamburger {
        top: 5px;
        left: 5px;
    }
}